@import url(./global.css);

body{
    background-color: #000;
}

header{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;

}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;

}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var( --font-family-alexandria);
}

.nav-header ul li .active{
    color: var(--color-white);
}

.container-btn-header{
    display: flex;
    gap: 16px;
    align-items: center;

}

.btn-login{
    padding: 10px 24px;
    text-decoration: none;
    color: var(--color-white);
    font-family: var( --font-family-alexandria);
    font-size: var(--font-size-text1);

}

.btn-primary{
    padding: 10px 24px;
    text-decoration: none;
    color: var(--color-gray4);
    background-color: var(--color-green);
    border-radius: 40px;
    font-family: var( --font-family-alexandria);
    font-size: var(--font-size-text1);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;
}

.content-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.content-main span{
    display: flex;
    gap: 8px;
    padding: 10px 12px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    color: var(--color-green);
    font-size: var(--font-size-text2);
}

.content-main h1{
    color: var(--color-white);
    font-size: var(--font-size-title1);
    font-family: var(--font-family-alexandria);
    width: 521px;
}

.content-main p{
    color: var(--color-gray1);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-green{
    color: var(--color-gray4);
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    text-decoration: none;
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    
}

.btn-secondary{
    display: flex;
    gap: 6px;
    color: var(--color-white);
    padding: 14px 24px;
    border: 1px solid var(--color-gray3);
    border-radius: 40px;
    text-decoration: none;
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    
}

.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
    background-color: var(--color-gray4);
}

.content-partners h2{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.container-images-partners{
    display: flex;
    gap: 50px;
}
