@import url(./global.css);

body{
    background-color: #000;
}

header{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;

}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;

}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var( --font-family-alexandria);
}

.nav-header ul li .active{
    color: var(--color-white);
}

.container-btn-header{
    display: flex;
    gap: 16px;
    align-items: center;

}

.btn-login{
    padding: 10px 24px;
    text-decoration: none;
    color: var(--color-white);
    font-family: var( --font-family-alexandria);
    font-size: var(--font-size-text1);

}

.btn-primary{
    padding: 10px 24px;
    text-decoration: none;
    color: var(--color-gray4);
    background-color: var(--color-green);
    border-radius: 40px;
    font-family: var( --font-family-alexandria);
    font-size: var(--font-size-text1);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;
}

.content-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.content-main span{
    display: flex;
    gap: 8px;
    padding: 10px 12px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    color: var(--color-green);
    font-size: var(--font-size-text2);
}

.content-main h1{
    color: var(--color-white);
    font-size: var(--font-size-title1);
    font-family: var(--font-family-alexandria);
    width: 521px;
}

.content-main p{
    color: var(--color-gray1);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-green{
    color: var(--color-gray4);
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    text-decoration: none;
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    
}

.btn-secondary{
    display: flex;
    gap: 6px;
    color: var(--color-white);
    padding: 14px 24px;
    border: 1px solid var(--color-gray3);
    border-radius: 40px;
    text-decoration: none;
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    
}

.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
    background-color: var(--color-gray4);
}

.content-partners h2{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.container-images-partners{
    display: flex;
    gap: 50px;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}

.content-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-breakdown span{
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 40px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

.content-breakdown h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
}

.content-breakdown p{
    color: var(--color-gray1);
    font-family: var( --font-family-inter);
    font-size: var(--font-size-button);
    width: 572px;
    text-align: center;
}

.container-cards-beakdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 120px;
}

.card-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 36px;
    gap: 36px;
    border: 1px solid var(--color-gray2);
    border-radius: 12px;
    width: 380px;
    height: 264px;
}

.informations-card-breakdown{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.informations-card-breakdown h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
}

.informations-card-breakdown p{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    width: 337px;
    text-align: center;
}

.section-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--color-gray4);
    padding: 60px 0;

}

.content-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-statistics span{
    color: var(--color-green);
    padding: 12px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-size: var(--font-size-text2);
    font-family: var(--font-family-alexandria);

}

.content-statistics h2{
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
}

.content-statistics p{
    color: var(--color-gray1);
    font-size: var(--font-size-button);
    font-family: var(--font-family-inter);
    text-align: center;
    width: 644px;

}

.container-number-statistics{
    display: flex;
    justify-content: center;
    gap: 72px;
    align-items: center;
}

.number-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.number-statistics h3{
    color: var(--color-green);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
}

.number-statistics p{
    color: var(--color-gray1);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
}

.section-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: 60px;
}

.content-blockchain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-blockchain span{
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    padding: 12px 20px;
    font-size: var(--font-size-text2);
    font-family: var(--font-family-alexandria);
}

.content-blockchain h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    text-transform: capitalize;
    font-weight: 400;
}

.content-blockchain p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    width: 644px;
    text-align: center;
}

.container-blockchain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.content-card-blockchain{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-cards-blockchain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.card-blockchain{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 624px;
    background-color: var(--color-gray4);
    border: 1px solid var(--color-gray2);
    padding: 30px 20px;
    border-radius: 20px;
}


.content-card-blockchain h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;
}

.content-card-blockchain p{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    font-weight: 400;

}

.section-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gray4);
    padding: 60px 0;
    gap: 60px;
}

.content-faq{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-faq span{
    color: var(--color-green);
    padding: 12px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-size: var(--font-size-text2);
}

.content-faq h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
    text-transform: capitalize;
}

.content-faq p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    text-align: center;
    width: 644px;
    line-height: 140%;
}

.container-faq{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-item{
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid var(--color-gray3);
    width: 792px;
}

.faq-item h3{
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    font-weight: 400;
}

.section-revolutionary{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 0;
}

.section-revolutionary span{
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    padding: 12px 20px;
    font-size: var(--font-size-text2);
    font-family: var(--font-family-alexandria);
}

.section-revolutionary h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    width: 878px;
    text-align: center;
    font-weight: 400;
}

.section-revolutionary p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    width: 644px;
    text-align: center;
}

.section-revolutionary a{
    color: var(--color-gray4);
    background-color: var(--color-green);
    padding: 14px 24px;
    text-decoration: none;
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
}

footer{
    display: flex;
    justify-content: center;
    gap: 126px;
    padding: 40px 0;
}

.container-navigation-footer{
    display: flex;
    gap: 92px;
    align-items: flex-start;
}

.footer-navigation-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-navigation-item h2{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;
}

.navigation-item ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.navigation-item ul li a {
    color: var(--color-gray1);
    font-size: var(--font-size-text2);
    font-family: var(--font-family-alexandria);
    text-decoration: none;

}

.footer-updates{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-updates h2{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;
    width: 198px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray1);
    padding-bottom: 16px;
}

form input{
    padding: 12px 5px;
    background-color: transparent;
    color: var(--color-white);

}

form button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    border-radius: 100%;
    padding: 10px;
}